
body{
    overflow-y: auto;
    overflow-x: auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

 
  h1{
    color:red;
    font-size: 60px;
    border-width: 20px; border-style: outset;
    border-color: yellow;
    
   
}


.column:hover{
  background:var(--heaven);
  border:1px solid var(--primary);
}

.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}






